<%= form_with(model: category, class: "p-4 bg-white border rounded shadow-sm") do |f| %>
  <% if category.errors.any? %>
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :name, "Назва категорії", class: "form-label fw-bold" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Наприклад: Авто, Комуналка..." %>
  </div>

  <div class="mt-4">
    <%= f.submit "Зберегти", class: "btn btn-primary px-4" %>
    <%= link_to "Назад до списку", categories_path, class: "btn btn-link text-secondary text-decoration-none" %>
  </div>
<% end %>