<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="h2 text-dark">Список витрат</h1>
  <div>
    <%= link_to "Додати нову витрату", new_expense_path, class: "btn btn-success shadow-sm" %>
    <%= link_to "Тільки оплачені", paid_expenses_path, class: "btn btn-outline-primary shadow-sm" %>
  </div>
</div>

<p style="color: green"><%= notice %></p>

<div class="table-responsive">
  <table class="table table-hover align-middle bg-white border shadow-sm rounded">
    <thead class="table-dark">
    <tr>
      <th>Назва</th>
      <th>Категорія</th>
      <th class="text-center">Сума</th>
      <th class="text-center">Статус</th>
      <th class="text-end">Дії</th>
    </tr>
    </thead>
    <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td class="fw-bold text-secondary"><%= expense.title %></td>
        <td>
            <span class="badge rounded-pill bg-light text-dark border">
              <%= expense.category %>
            </span>
        </td>
        <td class="text-center">
          <%= amount_badge(expense) %>
        </td>
        <td class="text-center">
          <% if expense.status == "Оплачено" %>
            <span class="text-success fw-bold small">✔ <%= expense.status %></span>
          <% else %>
            <span class="text-muted small"><%= expense.status %></span>
          <% end %>
        </td>
        <td class="text-end">
          <div class="btn-group" role="group">
            <%= link_to "Перегляд", expense, class: "btn btn-sm btn-outline-info" %>
            <%= link_to "Редагувати", edit_expense_path(expense), class: "btn btn-sm btn-outline-primary" %>
            <%= button_to "Видалити", expense, method: :delete,
                          class: "btn btn-sm btn-outline-danger",
                          form: { data: { turbo_confirm: "Ви впевнені?" }, class: "d-inline" } %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>